body[class*="page_wp2-update"] {
	.card {
		position: relative;
		margin-top: unset;
		padding: unset;
		min-width: unset;
		max-width: unset;
		border: unset;
		box-shadow: unset;
		background: unset;
		box-sizing: unset;
	}
}